@model POC3.Models.Company
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <style>
        body {
            font-family: "Lato", sans-serif;
            margin: 0;
        }

        .main {
            margin-left: 260px; /* Same as the width of the sidenav */
            padding: 20px;
        }
        button {
            background-color: #04AA6D;
            color: white;
            padding: 30px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 50%;
            opacity: 0.9;
        }
    </style>
</head>
<body>
@Html.Partial("_SideNav")
<div class="main">
<h1>Add a new Company</h1>
<a asp-controller="Company" asp-action="GetCompany">View Company</a>

<form asp-action="AddCompany" method="post">
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input asp-for="CompanyName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CompanyStatus"></label>
        <select asp-for="CompanyStatus" class="form-control">
            <option value="Active">Active</option>
            <option value="Inactive">Inactive</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Add Company</button>
</form>
</div>
</body>
